.App {
  max-width: 750px;
  min-width: 450px;
  margin: 0 auto;
  padding: 15px;
}

.title {
  /* margin: 10px 0; */
  font-size: 4.5em;
  font-weight: 100;
  text-align: center;
  color: #23b7e5;
}
.ver {
  font-weight: 100;
  text-align: center;
  color: #23b7e5;
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.clear {
  position: relative;
  flex-basis: 50%;
  text-align: right;
  padding-right: 15px;
}
