.nav {
  display: flex;
  margin: 15px;
  list-style: none;
}
.nav > li {
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.nav > li.active {
  color: #fff;
  background-color: #23b7e5;
}
